fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
google-auth
python-dotenv
pytest
httpx
torch
torchvision
ftfy
regex
tqdm
clip @ git+https://github.com/openai/CLIP.git
faiss-cpu
numpy
